{% extends "base.html" %}

{% block javascript %}
<script src="/js/pixi.dev.js"></script>
<script src="/js/StackBlur.js"></script>
<script type="module" src="/js/hsl.js"></script>
<script type="module" src="/js/lmv.js"></script>
{% endblock %}

{% block body %}
<section id="dashboard">
  <div class="container">
    <div class="row">
      <div class="col-xs-8">
        <h2>LED Movie Visualization</h2>

        <div class="row">
          <div class="col-xs-12">
            <canvas id="player"></canvas>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <video id="video" autoplay="" loop="" controls="">
              Your browser does not support the video tag.
            </video>
          </div>
        </div>
      </div> <!-- /.col-xs-8 -->
      <div class="col-xs-4">
      <h3>Configuration</h3>
      <div id="panels" data-panels="{{ panels }}"></div>
      <div id="led_data" data-width="{{ led_width }}" data-height="{{ led_height }}"></div>
      <p>Panel count:
        <select id="panel_count">
          <option value="5">5</option>
          <option value="4">4</option>
          <option value="3">3</option>
          <option value="2">2</option>
          <option value="1">1</option>
        </select>
      </p>
      <p>Spacing between LEDs (auto limited):
        <select id="led_spacing">
          <option value="5">5</option>
          <option value="4">4</option>
          <option value="3">3</option>
          <option value="2">2</option>
          <option value="1">1</option>
        </select>
      </p>
      <p>
        <input id="lighten" type="checkbox" checked="checked">Simulate LED colors</input>
        <small>(This brightens the image by 10%.)</small>
      </p>
      <p>
        <input id="gaussian" type="checkbox">Gaussian blur</input>
      </p>
      <p>Current size:
        <strong class="panels_display">{{ panels }}</strong>x<strong class="panels_display">{{ panels }}</strong> panels:
        <strong class="led_width">{{ panels * led_width }}</strong>x<strong class="led_height">{{ panels * led_height }}</strong> LEDs.
      </p>
      <p>avconv settings: <code>avconv -y -i input.movie -s {{ led_width }}x{{ led_height }} -strict experimental -c:v libvpx -qmin 0 -qmax 50 -crf 5 -b:v 1M -c:a libvorbis output.webm</code></p>
      <hr/>
      <h3>Movie List</h3>
      <ul>
        {% for movie in movies %}
        <li>
          <a class="movies" data-movie="{{ movie }}" href="javascript:void(0);">
            {{ movie }}
          </a>
        </li>
        {% endfor %}
      </ul>
      <hr/>
      <h3>Upload Movie</h3>
      <form id="upload_movie" enctype="multipart/form-data" action="{{ url_for('upload') }}" method="post">
        <input type="file" name="movie" class="btn btn-custom btn">
        <input type="submit" class="btn btn-custom btn" value="Upload">
      </form>
      </div> <!-- /.col-xs-4 -->
    </div> <!-- /.row -->
  </div> <!-- /.container -->
</section>
{% endblock %}
