{% extends "base.html" %}

{% block javascript %}
<script src="/js/pixi.dev.js"></script>
<script type="module" src="/js/lmv.js"></script>
{% endblock %}

{% block body %}
<section id="dashboard">
  <div class="container">
    <div class="row">
      <div class="col-xs-8">
        <h2>LED Movie Visualization</h2>
        <canvas id="player"></canvas>
        <a class="control resume" href="javascript:void(0);">Resume</a>
        <a class="control play" style="display: none;" href="javascript:void(0);">Play</a>
      </div> <!-- /.col-xs-8 -->
      <div class="col-xs-4">
        <h3>Uploaded Movies</h3>
        <p>Current size:
          <strong>{{ panels }}</strong>x<strong>{{ panels }}</strong> panels:
          <strong>{{ panels * led_width }}</strong>x<strong>{{ panels * led_height }}</strong> pixels.
        </p>
        <ul>
          {% for movie in movies %}
          <li>
            <a class="movies" data-movie="{{ movie }}" href="javascript:void(0);">
              {{ movie }}
            </a>
          </li>
          {% endfor %}
        </ul>
        <hr/>
        <h3>Upload Movie</h3>
        <form id="upload_movie"
              enctype="multipart/form-data"
              action="{{ url_for('upload') }}"
              method="post">
          <input type="file"
                 name="movie"
                 class="btn btn-custom btn">
          <p>TODO toggle avconv settings</p>
          <input type="submit"
                 class="btn btn-custom btn"
                 value="Upload">
        </form>
      </div> <!-- /.col-xs-4 -->
    </div> <!-- /.row -->
  </div> <!-- /.container -->
</section>
{% endblock %}
