{% extends "base.html" %}

{% block body %}
<section id="dashboard">
  <div class="container">
    <div class="row">
      <div class="col-xs-8">
        <h2>LED Movie Visualization</h2>
        <p>TODO javascript viewer here</p>
      </div> <!-- /.col-xs-8 -->
      <div class="col-xs-4">
        <h3>Uploaded Movies</h3>
        <ul>
          {% for movie in movies %}
          <li>
            {{ movie }}
          </li>
          {% endfor %}
        </ul>
        <hr/>
        <p>TODO upload movies</p>
        <p>TODO toggle ffmpeg/libav settings</p>
        <p> avconv -i input.mp4 -s 640x480 output.mp4</p>
      </div> <!-- /.col-xs-4 -->
    </div> <!-- /.row -->
  </div> <!-- /.container -->
</section>
{% endblock %}
